body {
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRZoscUObZwxyOnk3hVf0EyE2rknH1Ugd-VB3_E5EFUJMrLhP7l");
}

h1 {
    background-color:lightblue;
    text-align: center;
}

.row {
    background-color: azure;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 22px;
}

#start, #submit, #display {
    background-color: aquamarine;
    text-align: center;
}
